<?xml version="1.0" encoding="utf-8"?>
<DataType Key="938137f1-b965-4f65-84c3-dd79aa83d869" Alias="Test - mux - Mux Sync" Level="1">
  <Info>
    <Name>Test - mux - Mux Sync</Name>
    <EditorAlias>uMux.Sync</EditorAlias>
    <EditorUIAlias>uMux.PropertyEditorUi.MuxSync</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "uploadPropertyAlias": "videoUpload"
}]]></Config>
</DataType>