<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0a8c44e-24ec-4707-860c-6df7d5be3985" Alias="Video - Mux - Mux Sync Property Editor UI" Level="1">
  <Info>
    <Name>Video - Mux - Mux Sync Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>