<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b023d10-db53-4334-9281-2694768eebcb" Alias="Video -  - Mux Sync Property Editor UI" Level="1">
  <Info>
    <Name>Video -  - Mux Sync Property Editor UI</Name>
    <EditorAlias>uMux.Sync</EditorAlias>
    <EditorUIAlias>uMux.PropertyEditorUi.MuxSync</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "uploadPropertyAlias": "umbracoFile"
}]]></Config>
</DataType>