<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a56c16d-91cc-4eba-afe3-1dff485022eb" Alias="test" Level="1">
  <Info>
    <Name>Test</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>test</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b5791b24-51b3-4bb6-b960-5264feb2dc5b">test</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6dcd60b1-ea86-40a1-8a6f-26ced8381bad</Key>
      <Name>mux</Name>
      <Alias>mux</Alias>
      <Definition>938137f1-b965-4f65-84c3-dd79aa83d869</Definition>
      <Type>uMux.Sync</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>459be3ca-0183-489f-aebd-04004f0f6609</Key>
      <Name>video upload</Name>
      <Alias>videoUpload</Alias>
      <Definition>70575fe7-9812-4396-bbe1-c81a76db71b5</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>43104b16-313b-48f1-b18a-d531359ddaa2</Key>
      <Caption>content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>