<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56c87390-f535-47d9-9567-163bba72f572" Alias="Video - Mux Video - Mux Sync" Level="1">
  <Info>
    <Name>Video - Mux Video - Mux Sync</Name>
    <EditorAlias>uMux.Sync</EditorAlias>
    <EditorUIAlias>uMux.PropertyEditorUi.MuxSync</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "uploadPropertyAlias": "umbracoFile"
}]]></Config>
</DataType>