<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f326fec-51b2-48ac-b4f3-142a8ff3fccc" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2025-12-23T10:32:05</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95df3fc7-12d2-4fcd-8566-11dc281ecc37">Test</Template>
  </Info>
  <Properties>
    <media>
      <Value><![CDATA[[
  {
    "key": "1c2e06bc-284f-47db-9c6d-bfb7be1c3478",
    "mediaKey": "cbd7c8e8-faac-47b8-875a-d40673e6936e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </media>
  </Properties>
</Content>