@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Test>
@{
	Layout = null;
}

@if (Model.Media?.Content is UmbracoMediaVideo mediaVideo && mediaVideo.MuxVideo is not null)
{
    <div style="display:flex;">
        <div>
            <img src="https://image.mux.com/@mediaVideo.MuxVideo.PlaybackId/animated.gif?width=320" />
        </div>
        <div>
            <img src="https://image.mux.com/@mediaVideo.MuxVideo.PlaybackId/thumbnail.png?width=214&height=121&time=4" />
        </div>
        <div>
            <img src="https://image.mux.com/@mediaVideo.MuxVideo.PlaybackId/storyboard.png" />
        </div>
        <div>
            <iframe src="https://player.mux.com/@mediaVideo.MuxVideo.PlaybackId"
                    style="width: 100%; border: none; aspect-ratio: 16/9;"
                    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                    allowfullscreen></iframe>
        </div>

        <div>
            <script src="https://cdn.jsdelivr.net/npm/@@mux/mux-player" defer></script>
            <mux-player playback-id="@mediaVideo.MuxVideo.PlaybackId"></mux-player>
        </div>
    </div>
}
