<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbd7c8e8-faac-47b8-875a-d40673e6936e" Alias="14961857_2160_3840_50fps.mp4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fpsmp4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-12-23T10:28:07</CreateDate>
    <NodeName Default="14961857_2160_3840_50fps.mp4" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <muxVideo>
      <Value><![CDATA[{
  "Src": "/media/p3rb43pt/14961857_2160_3840_50fps.mp4",
  "MuxAssetId": "IpYM00NUdx5je2XAok9fHgUYDCaXs02KVEeGXVdAQ1RDY",
  "PlaybackId": "JBXsG1hgnVZXnh9BduXy4daI2VolzcXam5kSFX74DAw"
}]]></Value>
    </muxVideo>
    <umbracoFile>
      <Value><![CDATA[/media/p3rb43pt/14961857_2160_3840_50fps.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>