<?xml version="1.0" encoding="utf-8"?>
<Media Key="f97e0773-9aff-458c-941c-040827f4de51" Alias="7657449-hd_1920_1080_25fps.mp4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hd_1920_1080_25fpsmp4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-12-23T10:28:13</CreateDate>
    <NodeName Default="7657449-hd_1920_1080_25fps.mp4" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <muxVideo>
      <Value><![CDATA[{
  "Src": "/media/2swkmr3a/7657449-hd_1920_1080_25fps.mp4",
  "MuxAssetId": "GU9Kj81WxPbjPyhjWopdNqtpDMBejXomOkdAG02upJsc",
  "PlaybackId": "C5hAsKLKkdwPho9f5udXyoIc00100NL026uS1GbAEmjtKM"
}]]></Value>
    </muxVideo>
    <umbracoFile>
      <Value><![CDATA[/media/2swkmr3a/7657449-hd_1920_1080_25fps.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>